.wrapper {
    display: flex;
    flex-direction: column; 
    @media(min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
    }
}


.wrapper img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    @media(min-width: 992px) {
        max-width: 852px;
        height: auto;
        margin-bottom: 20px;
    
    }

    
}

